POLYMARKET_WALLET_ADDRESS=
BOT_SIGNER_KEY=
POLYMARKET_FUNDER_ADDRESS=
POLYMARKET_SIGNATURE_TYPE=POLY_GNOSIS_SAFE

GOALSERVE_API_KEY=
GOALSERVE_MATCH_STATIC_ID=

MAX_POSITION_USD=10
MIN_PROFIT_CENTS=0.04
STOP_LOSS_RATIO=0.5
SELL_TIMEOUT_MINUTES=15

PRE_GAME_POLL_SECONDS=60
LIVE_POLL_SECONDS=10
SELL_POLL_SECONDS=5

MATCH_SLUG=epl-ars-bur-2026-05-18
